<%= form_for [@post,@comment], { class: "comment-edit-form", remote: true} do |f| %>
  <div class="input-group">
    <%= f.text_area :content, :class => "form-control" %>
    <div class="input-group-addon">
      <%= f.submit "Update"%>
    </div>
  </div>
<% end %>